In [ ]:
import pandas as pd

file_path = '../data/assignment3_II.csv'
data = pd.read_csv(file_path)

data.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Clothes Title,Clothes Description
0,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Elegant A-Line Dress,"A classic A-line dress that flows gracefully, ..."
1,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,Petite High-Waisted Trousers,"Chic, high-waisted trousers designed to elonga..."
2,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Silk Button-Up Blouse,A luxurious silk blouse with a timeless button...
3,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses,Elegant A-Line Dress,"A classic A-line dress that flows gracefully, ..."
4,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits,Petite Cable Knit Sweater,A cozy cable knit sweater tailored specificall...

In [70]:
df = pd.DataFrame(data)
new_df = df[["Clothing ID", "Division Name", "Department Name", "Class Name", "Clothes Title", "Clothes Description"]]

In [71]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19662 entries, 0 to 19661
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Clothing ID          19662 non-null  int64
 1   Division Name        19662 non-null  object
 2   Department Name      19662 non-null  object
 3   Class Name           19662 non-null  object
 4   Clothes Title        19662 non-null  object
 5   Clothes Description  19662 non-null  object
dtypes: int64(1), object(5)
memory usage: 921.8+ KB

In [72]:
new_df.head(5)

,Clothing ID,Division Name,Department Name,Class Name,Clothes Title,Clothes Description
0,1077,General,Dresses,Dresses,Elegant A-Line Dress,"A classic A-line dress that flows gracefully, ..."
1,1049,General Petite,Bottoms,Pants,Petite High-Waisted Trousers,"Chic, high-waisted trousers designed to elonga..."
2,847,General,Tops,Blouses,Silk Button-Up Blouse,A luxurious silk blouse with a timeless button...
3,1080,General,Dresses,Dresses,Elegant A-Line Dress,"A classic A-line dress that flows gracefully, ..."
4,858,General Petite,Tops,Knits,Petite Cable Knit Sweater,A cozy cable knit sweater tailored specificall...

In [73]:
new_df = new_df.drop_duplicates()

In [74]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1290 entries, 0 to 19656
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Clothing ID          1290 non-null   int64
 1   Division Name        1290 non-null   object
 2   Department Name      1290 non-null   object
 3   Class Name           1290 non-null   object
 4   Clothes Title        1290 non-null   object
 5   Clothes Description  1290 non-null   object
dtypes: int64(1), object(5)
memory usage: 70.5+ KB

In [75]:
new_df = new_df.rename(columns={
    "Clothing ID": "id",
    "Division Name": "division",
    "Department Name": "department",
    "Class Name": "class",
    "Clothes Title": "title",
    "Clothes Description": "description"
})

In [76]:
new_df = new_df.sort_values(by='id')

In [77]:
new_df.columns

Index(['id', 'division', 'department', 'class', 'title', 'description'], dtype='object')

In [78]:
new_df.to_csv(f"./webData.csv", index=False)